body {
    font-family: 'Fredoka One', cursive;
    min-height: 100vh;
    position: relative;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
.hero {
    background-color: #ffffff;
    color: #FF4E78 !important; /* pink */
}
.logo {
    text-align: center;
}
.logo img {
    max-width: 40%;
    height: auto;
}
.logodash {
    text-align: center;
    margin: 0; /* Remove any unwanted margins */
}
.logodash img {
    max-width: 20%; /* 1/5 of original size */
    height: auto;
}
.text-primary {
    color: #FF4E78 !important;
}
.lead {
    color: #1D79E0 !important;
    font-size: 1.5rem; /* Increase the font size slightly */
}
.nav-link:hover {
    color: #FF4E78 !important;
}
.nav-link.logout:hover {
    color: #1D79E0 !important;
}
.btn-light:hover {
    color: #FF4E78 !important;
}
.btn-primary:hover, .btn-success:hover {
    color: black !important;
}
.selected-word {
    background-color: #d1ecf1;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
}
.table-wrapper {
    width: 30%;
}
.image-wrapper {
    width: 65%;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.word-heading {
    font-size: 24px;
    margin-bottom: 20px;
}
.test-wrapper {
    margin-top: 20px;
}
.test-word-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.test-word-group input {
    flex: 1;
    margin-right: 10px;
}
.feedback {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.feedback.correct::after {
    content: '✔';
    color: #28a745;
}
.feedback.incorrect::after {
    content: '✘';
    color: #dc3545;
}
.points-message {
    font-weight: bold;
    margin-top: 20px; /* Increase space above the feedback message */
    font-size: 2rem; /* Increase the font size of the feedback message */
    color: #000000; /* Change the color to black */
}
.ready-btn {
    background-color: #28a745;
    color: white;
}
.h2-steps {
    color: #FF4E78 !important;
    font-size: 2rem; /* Match the size of "My Spelling Journey" */
}
.card-title {
    color: #1D79E0 !important;
    font-size: 1.5rem; /* Increase font size */
}
.table th {
    color: #000000 !important; /* Change to black */
    background-color: #ebeaea !important; /* Light grey background */
    font-size: 1rem; /* Increase font size */
}
.table td {
    font-size: 1rem; /* Increase font size */
}
.star {
    color: #FF4E78 !important; /* Change the star color to pink */
    font-size: 1rem; /* Size of the star */
}
.h2-spelling-journey {
    color: #FF4E78 !important; /* pink */
}
.btn-next {
    background-color: #FF4E78;
    color: white;
}
.btn-submit {
    background-color: #28a745;
    color: white;
}
.btn-try-again {
    background-color: #FF4E78;
    color: white;
}
.btn-back-to-list {
    background-color: #1D79E0;
    color: white;
}
.btn-primary:hover {
    color: black !important;
}
.mydash {
    padding-top: 0 !important;
}
.myhero {
    padding-bottom: 0 !important;
}