.main-content {
    background-color: #ffffff;
    color: #000000;
}

.card-title {
    color: #1D79E0 !important;
}
h2 {
    color: #FF4E78;
}

.card-body.custom-height {
    min-height: 300px; /* Adjust the height as needed */
}


</style>